# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp
.pnp.js

# Playwright
.playwright/

# Test coverage
coverage/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# IDEs
.idea/

# Others
*.log
